@model IEnumerable<DAKI.Models.Badge>

@{
    ViewBag.Title = "Badges";
}
<div class="profileMenu">
    <ul>
        <li>@Html.ActionLink("Profile", "Profile", "Account")</li>
        <li class="active">@Html.ActionLink("Badges", "Badges", "Account")</li>
        <li>@Html.ActionLink("Progress", "Progress", "Account")</li>
        <li>@Html.ActionLink("Manage", "Manage", "Account")</li>
    </ul>
</div>
<div class="profile">
    <hgroup class="title">
        <h1>@ViewBag.Title:</h1>
    </hgroup>
    @foreach (var item in Model) {
        <div class="badge">
            <p>@Html.DisplayFor(modelItem => item.Title)</p>
            <p>@Html.DisplayFor(modelItem => item.Description)</p>
            <p>@Html.DisplayFor(modelItem => item.NecessaryPoints)</p>
        </div>
    }
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}