@model DAKI.Models.SkillModel
@{
    ViewBag.Title = "Details about employee";
}
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<p><strong>Username:</strong> @Html.DisplayFor(model => model.UserName)</p>
<p><strong>Skills:</strong>  @foreach (var item in Model.Skills) { <p>@item.Name </p> }</p>
<hr />
<p>
    @Html.ActionLink("Back to List", "SearchEmployee")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}