@model DAKI.Models.GrantRoleModel
@{
    ViewBag.Title = "Grant Role";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
@if(!User.IsInRole(Types.Role.Admin))
{
    @Html.Partial("_NoPermissionsPartial");
}
else
{
    <h2>Grant a user a role.</h2>
    using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>GrantRole</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </li>
                <li>
                    @Html.LabelFor(m => m.Role)
                    @{
                     List<SelectListItem> items = new List<SelectListItem>();
                     foreach(var role in Roles.GetAllRoles())
                     {
                           items.Add(new SelectListItem { Text = role, Value = role});
                     }
                    }
                    @Html.DropDownListFor(x => x.Role, items)
                </li>
            </ol>
            <input type="submit" value="Grant Role" />
        </fieldset>
        <p>
            @Html.ActionLink("Grant Role", "GrantRole")
        </p>
    }
}
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
