@model IEnumerable<DAKI.Models.UserProfile>
@{
    ViewBag.Title = "Hall Of Fame";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>


<div class="datagrid">
    <table>
        <thead>
            <tr>
                <th>
                    Rank
                </th>
                <th>
                    Username
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Points)
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
                foreach (var item in Model) {
                    <tr>
                        <td>
                            @i
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Points)
                        </td>
                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}