@model DAKI.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}
<div class="profileMenu">
    <ul>
        <li>@Html.ActionLink("Profile", "Profile", "Account")</li>
        <li>@Html.ActionLink("Badges", "Badges", "Account")</li>
        <li>@Html.ActionLink("Progress", "Progress", "Account")</li>
        <li class="active">@Html.ActionLink("Manage", "Manage", "Account")</li>
    </ul>
</div>
<div class="profile">
    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
    </hgroup>

    <p class="message-success">@ViewBag.StatusMessage</p>

    <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

    @if (ViewBag.HasLocalPassword)
    {
        @Html.Partial("_ChangePasswordPartial")
    }
    else
    { 
        @Html.Partial("_SetPasswordPartial")
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
