@model DAKI.Models.Prize

<fieldset>
    <legend>Prize</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cost)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cost)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Limit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Limit)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "EditPrize", new { id=Model.PrizeId }) |
    @Html.ActionLink("Back to List", "ListPrizes")
</p>
