@model DAKI.Models.RoleManagementModel
@{
    ViewBag.Title = "Role Management";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
@if(!User.IsInRole(Types.Role.Admin))
{
    @Html.Partial("_NoPermissionsPartial");
}
else
{
    @Html.ValidationMessage("userNotFound");
    <fieldset>
        <legend></legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBox("username")
            </li>
        </ol>
    </fieldset>
    <button type="button" onclick="AddUsernameToQuery()">Select</button>
    <br />
    if(Model != null && Model.UserName != null)
    {
        <br />
        <div>Roles for the user <b>@Model.UserName</b></div>
        @Html.ValidationMessage("removeRoleError");
        <table>
        @if(Model != null && Model.UserName != null)
        {
            foreach (var role in Roles.GetRolesForUser(Model.UserName))
            {
                <tr><td>@role</td>
                <td>
                @using (Html.BeginForm("RoleManagement/remove", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.Hidden("Username", Model.UserName);
                    @Html.Hidden("Role", role);
                    <input type="submit" value="Remove" />
                }
                </td>
                </tr>
            }
        }
        </table>
    }
    @Html.ValidationMessage("grantRoleError");
    using (Html.BeginForm("RoleManagement/add", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>GrantRole</legend>
            <ol>
                @Html.Hidden("UserName", Model.UserName)
                <li>
                    @Html.Label("Role")
                    @{
                     List<SelectListItem> items = new List<SelectListItem>();
                     foreach(var role in Roles.GetAllRoles())
                     {
                           items.Add(new SelectListItem { Text = role, Value = role});
                     }
                    }
                    @Html.DropDownList("Role", items)
                </li>
            </ol>
            <input type="submit" value="Grant Role" />
        </fieldset>
    }
    
}
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
