<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/Admin")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left title-line">
                    <p class="site-title">@Html.ActionLink("DAKI", "Index", "Home")</p>
                </div>
                 <div class="float-left" id="nav-bar">
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")
                                <ul>
                                    <li>@Html.ActionLink("Mock1", "Contact", "Home")</li>
                                    <li>@Html.ActionLink("Mock2", "Contact", "Home")</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <span class="float-right">@Html.Partial("_LoginPartial")</span>
                        </ul>
                        
                    </nav>
                </div>
                
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year- DAKI</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
